<%- include('partials/head.ejs'); %>
<body>
	<header class="index-header">
		<h1>MyUsers!</h1>
		<h2>The <span style="color:#125C13;">registration</span> and <span style="color:#125C13;">login</span> system.</h2>
	</header>
	<main class="index-main">
		<a href="/signin"><button class="index-button"><b>Signin</b></button></a>
		<a href="/userlist"><button class="index-button"><b>Users List</b></button></a>
		<a href="/login"><button class="index-button"><b>Login</b></button></a>
	</main>
	<%- include('partials/footer.ejs'); %>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>