<%- include('partials/head.ejs'); %>
<body>
	<main class="passworderror-main">
		<h1>PASSWORD ERROR =(</h1>
		<h2>TRY LATER!</h2>	
	</main>
	<script>
		setTimeout(()=>{
			window.location.href = "/";
		},2000);
	</script>
</body>
</html>